body {
  margin: 60px auto;
  width: 85%;
  background: #1a1a1a
}


a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}


p, ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #ffffff;
}

p a {
  color: #0497ed;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
h1 {
  font-size: 40px;
  letter-spacing: 2px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}

.main-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.main-title a {
  text-decoration: none;
  color: #ffffff;
}
.sub-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
nav ul, footer ul {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;    
}
nav p {
  margin-bottom: -15px;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 14px;
}
.fab {
  font-size: 20px;
}

.overlay {
  background-color: #000;
  position: absolute;
  width: 85%;
  height: 300px;
  opacity: 0.70;
}

#page-site-header .page-header {
  position: absolute;
  top: 290px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

#page-site-header .page-title {
  color: #fff;
  font-size: 42px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inline-block;
  font-weight: 600;
}
/* Latest album */

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Discography */

img {
  border-radius: 30px;
  padding: 5px;
}


#gumroad {
  padding-top: 50px;
}

.gumroad-embed-iframe {
  border: none !important;
}

.autumnstroll {
  height: 300px;
  background: url('../images/discography-theautumnstroll.jpeg');
  background-size: cover;
}

.home {
  height: 300px;
  background: url('../images/home-cover.JPG');
  background-size: cover;
}


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


/* Recent Documentation */
ul.posts {
  margin: 20px auto 40px;
  font-size: 12px;
}
ul.posts li {
  list-style: none;
}
.meta {
  font-variant-caps: small-caps;
  margin-top: -15px;
}
.indent {
  margin: 20px;
}

/* Compositions */
.main-text-home {
  font-size: 20px;  
}

/* CV */
.cv {
  margin: 0px 0px 60px;
}
.cv h1 {
  font-size: 3em;
}
.cv h2 {
  font-size: 2em;
}
.cv address, .cv .download { 
  font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
}
.cv address, .cv p { 
  font-size: 1.2em; 
}
.cv .download { 
  float: right; 
  font-size: .8em; 
  text-transform: uppercase; 
}

/* Showcase */
.jw-card .jw-card-menu-button, .jw-toolbar-nav, .jw-row .pb, .jw-toolbar {
  display: none;
}
.jw-theme-dark .jw-toolbar {
  background-color: #000000;
}
.jw-theme-light .jw-video-layout, .jw-theme-light .jw-side-rail {
  background-color: #ffffff;
}
.jw-theme-light .jw-video-details {
  background-color: transparent;
  color: #000000;
}
.jw-page-flag-header {
  padding-top: 10px;
}